.projects {
  padding-top: 55px;
  font-family: "Open Sans", sans-serif;
}

.projectimg {
  width: 60%;
  border: #efccd0 7px solid;
  box-shadow: 6px 8px 10px grey;
}

.project-a {
  color: #4d4d4d;
  text-decoration: none;
}
.project-a:hover {
  color: black;
}

.projectSection {
  width: 33%;
}
@media (min-width: 1025px) {
  .projectimg {
    width: 65%;
  }
}
